:root {
  --primary-color: #e86304;
  --secondary-color: #838181;
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;
  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  /* place-items: center; */
  min-width: 375px;
  max-width: 1000px;
  margin: 0 auto;
}

/* * {
  border: 1px solid gainsboro;
} */

#root {
  width: 100%;
}

.main-font {
  font-family: "Kumbh Sans", sans-serif;
}

.color-primary {
  color: var(--primary-color);
}

.color-secondary {
  color: var(--secondary-color);
}

.pointer {
  cursor: pointer;
}

.border {
  border: 3px solid var(--primary-color);
}

.round {
  border-radius: 50%;
}

.border-hover:hover {
  border: 3px solid var(--primary-color);
}

.thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.thumbnail-container {
  width: 20%;
  border-radius: 10px;
  margin: 5px 0;
}

.thumbnail:hover {
  opacity: 0.5;
}

.bigImage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 45vh;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.arrow {
  position: static;
  top: 50%;
  left: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
}

.arrow-modal {
  position: static;
  top: 50%;
  left: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
}

.prev {
  transform: translateX(1rem);
}

.next {
  transform: translateX(-1rem);
}

.prev-modal {
  transform: translateX(-1.5rem);
}

.next-modal {
  transform: translateX(1.5rem);
}

.actual_price {
  margin: 10px 0;
}

.discount {
  color: var(--primary-color);
  background-color: #ffede0;
  border-radius: 5px;
  padding: 5px;
  margin: 0 0 0 20px;
}

.full_price {
  text-decoration: line-through;
  color: #787878;
  margin-top: 0;
}

.mobile-close-btn {
  padding: 20px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .product-page {
    flex-direction: column;
    align-items: center;
  }

  .product-page>div {
    width: 100%;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    align-items: center;
    padding-left: 20px;
  }
}

@media screen and (min-width: 768px) {
  .product-page {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
  }

  .product-page>div {
    width: 40%;
    min-width: 300px;
  }

  .desktop {
    display: flex;
    align-items: center;
  }

  .mobile {
    display: none;
  }

  .arrow {
    display: none;
  }
}